:root {
    --primary-color-1: #FFFCF2;
    --primary-color-2: #CCC5B9;
    --primary-color-3: #403D39;
    --primary-color-4: #252422;
    --primary-color-5: #EB5E28;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: monospace;
}
html, body {
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    background-color: var(--primary-color-3);
   }
   
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

nav {
    top: 0;
    width: 100%;
    background-color: var(--primary-color-4);
    min-height: 75px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 50px;
}

.nav-body {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.portfolio-logo {
    color: var(--primary-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

nav .nav-links {
    gap: 2rem;
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nav-links a {
    color: var(--primary-color-2);
    letter-spacing: 1.25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in;
}

nav .nav-links a:hover {
    color: orangered;
    opacity: .75;
}

nav .nav-links a:active {
    color: orangered;
    opacity: .75;
    text-decoration: underline;
}

nav .nav-links a:focus {
    color: orangered;
    opacity: .75;
    text-decoration: underline;
}

main {
    min-height: 100vh;
    /* background-color: var(--primary-color-3); */
}

.main-container {
    min-height: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.line-break {
    height: 1px; 
    background-color: black;
    /* overflow: hidden;  */
    width: 100%;
}

.home-container {
    background-color: var(--primary-color-3);
    min-height: 400px;
    width: 75%;
    /* margin: 16px; */
    padding: 16px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.home-container-content {
    /* background-color: rgb(52, 52, 108); */
    min-height: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.home-container-content h1
{
    font-size: 40px;
    color: var(--primary-color-2);
    margin-bottom: 40px;
}

.home-container-content p {
    color: var(--primary-color-2);
    font-size: 20px;
    letter-spacing: 1.2px;

    margin-bottom: 25px;
    /* align-self: ; */
}

.home-container-image img {
    height: 300px;
}

.credit {
    color: var(--primary-color-2);
}

.studio-images img{
    height: 200px;
}

.about-container {
    background-color: var(--primary-color-3);
    width: 75%;
    color: var(--primary-color-2);
    letter-spacing: 1.2px
}

.about-container h1 {
    font-size: 40px;

}

.about-container-content p,
.about-container-content ul {

    font-size: 20px;
}

.resume {
    width: 100%;
    height: 1000px;
}

.contact-container {
    /* background-color: red; */
    width: 75%;
}

.project-container {
    /* background-color: red; */
    width: 75%;
    color: var(--primary-color-2);
    letter-spacing: 1.2px
}

.project-container h1 {
    font-size: 40px;
    
}

.project-container h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.project-section {
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: aquamarine; */
    min-height: 400px;
    width: 90%;
}

.project-section h1 {
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.project-section p {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
}

iframe {
    width: 80%;
    height: 500px;
}

.project-section .lego-set img {
    width: 80%;
    height: 500px;
}

footer {
    margin: auto;
    width: 100%;
    height: 125px;
    background-color: var(--primary-color-4);
}

footer p {
    font-size: 20px;
    color: var(--primary-color-2);
}

footer p:nth-child(2) {
    text-decoration: underline;
    cursor: not-allowed;
}

footer .footer-content {
    height: 125px;
    width: 75%;
    margin: 0 auto;
    /* centers the text to the middle instead of starting from the left */
    display: flex;
    align-items: center;
    justify-content: space-between;
}